@{
    ViewData["Title"] = "About";
    ViewData["Message"] = "TestXpert - online test platform";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>TestXpert - development in progress.</p>
